@model Land_Manager.Models.CustomerModels.CustomerIndexModel

@{
    ViewData["Title"] = Model.CustomerName;
}
<div>
    <div>
        <h1>@Model.CustomerName</h1>
        <h2>@Model.CustomerAddress</h2>
        <h2>Rented on @Model.DateOfRenting</h2>
        <div>Email: @Model.Email</div>
        <div>Phone: @Model.PhoneNumber</div>
        <a asp-controller="Payments" asp-action="Customer" asp-route-id="@Model.CustomerId" class="btn btn-secondary btn-sm mt-2">View Payments</a>
        <a asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-info btn-sm mt-2">Edit Customer</a>
    </div>
    <div class="pt-2">
        @{ if (Model.MoneyOwed > 0)
            {
                <h3>Money Owed: <b>€@Model.MoneyOwed</b></h3>
                <form method="post">
                    <button asp-action="PayRent" asp-route-id="@Model.CustomerId" class="btn btn-success">Mark As Paid</button>
                </form>
            }
            else
            {
                <h3>Customer is all paid-up.</h3>
            }
        }
    </div>
</div>
<form method="post">
    <button asp-action="Remove" asp-route-id="@Model.CustomerId" class="btn btn-danger btn-sm">Remove Customer</button>
</form>